/* --font--- */
.inria-sans-light {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font {
  font-family: "Inria Sans", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(40, 40, 40);
  background-color: rgb(120, 116, 116);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(37, 37, 37);
  border-radius: 10px;
}

/* ----sidebar----- */
.navbar li {
  font-weight: 400;
  font-size: 50px;
  cursor: pointer;
}

hr {
  border: 1px solid rgb(185, 177, 177);
}

.links li {
  font-weight: 400;
  font-size: 15px;
}

.contain-plus h1 {
  font-size: 18px;
  font-weight: 600;
  color: rgb(48, 47, 47);
}

.plus {
  right: -990px;
  transition: right 0.8s ease;
}

.plus.open {
  right: 0;
}


/* CONTACT */

.input-underline {
  transition: width 0.3s ease-in-out;
}

input:focus + .input-underline {
  width: 100%;
}

textarea:focus + .input-underline {
  width: 100%;
}